<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banding Bandingin Alat</title>
    <script src="/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <div class="header" hx-trigger="load" hx-onload hx-get="/components/header" hx-target=".header" hx-swap="outerHTML"></div>

    <h1>Banding Bandingin Alat</h1>
    <article>

        <h2>Benchmark Bahasa Pemrograman dan Framework</h2>


        Catatan benchmark yang saya lakukan untuk pemeilihan techstack yang akan digunakan di Next Projects. 
        Di sini membandingkan beberapa bahasa pemrograman dan framework yang akan digunakan.
        
        - `PHP` -> `Laravel`/`CodeIgniter`
        - `Rust` -> `Actix`/`Axum`/`Loco`
        - `Python` -> `Django`/`Flask`/`FastAPI`/`Socketify`
        - `Elixir` -> `Phoenix`
        
        # Configurasi
        
        Untuk benchmark, disimulasikan dengan membuat webserver yang melayani request dengan jumlah tertentu.
        Berikut configurasi webservernya:
        - `CPU 2 vCPU`
        - `Memory 2 GB`
        - `Storage 20 GB SSD`
        - `OS Ubuntu 22.04 LTS`
        - `Network 1 Gbps (50% on average -> 500 Mbps)`
        - `NginX` sebagai Load Balancer
        - `PostgreSQL` sebagai Database
        
        # Perbandingan Bahasa Pemrograman dan Framework
        
        ::: warning ⏳ Tobe Continue >>
        Tulisan belom beres, capek nulisnya. Nanti dilanjutin lagi.
        :::

        <blockquote>
            <p>Diperbaharui pada: 2024-11-14</p>
        </blockquote>
    </article>

    <div class="footer" hx-trigger="load" hx-onload hx-get="/components/footer" hx-target=".footer" hx-swap="outerHTML"></div>
</body>
</html>
