<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://papan.pages.dev/favicon.ico">
    <title>Banding Bandingin Alat</title>
    <meta name="description" content="Catatan benchmark yang saya lakukan untuk pemeilihan techstack yang akan digunakan di Next Projects. Di sini membandingkan beberapa bahasa pemrograman dan framework yang akan digunakan.">
    <meta name="keywords" content="DevOps, DevSecOps, Software Engineering, Kubernetes, Frontend, Backend, Infrastructure">
    <meta name="author" content="Papan Berjalan">
    <script src="/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <div class="header" hx-trigger="load" hx-onload hx-get="/components/header" hx-target=".header" hx-swap="outerHTML"></div>

    <h1>Banding Bandingin Alat</h1>
    <article>

        <h2>Benchmark Bahasa Pemrograman dan Framework</h2>
        
        <p>
            Catatan benchmark yang saya lakukan untuk pemeilihan techstack yang akan digunakan di Next Projects. 
            Di sini membandingkan beberapa bahasa pemrograman dan framework yang akan digunakan.
        </p>
        
        <ul>
            <li>`PHP` -> `Laravel`/`CodeIgniter`</li>
            <li>`Rust` -> `Actix`/`Axum`/`Loco`</li>
            <li>`Python` -> `Django`/`Flask`/`FastAPI`/`Socketify`</li>
            <li>`Elixir` -> `Phoenix`</li>
        </ul>
        
        <h2>Configurasi</h2>
        
        <p>
            Untuk benchmark, disimulasikan dengan membuat webserver yang melayani request dengan jumlah tertentu.
            Berikut configurasi webservernya:
        </p>
        
        <ul>
            <li>`CPU 2 vCPU`</li>
            <li>`Memory 2 GB`</li>
            <li>`Storage 20 GB SSD`</li>
            <li>`OS Ubuntu 22.04 LTS`</li>
            <li>`Network 1 Gbps (50% on average -> 500 Mbps)`</li>
            <li>`NginX` sebagai Load Balancer</li>
            <li>`PostgreSQL` sebagai Database</li>
        </ul>

        <h2>Perbandingan Bahasa Pemrograman dan Framework</h2>
        
        <blockquote>
            ::: warning ⏳ Tobe Continue >>
            Tulisan belom beres, capek nulisnya. Nanti dilanjutin lagi.
            :::
        </blockquote>
        
        <blockquote>
            <p>Diperbaharui pada: 2024-11-14</p>
        </blockquote>
    </article>

    <div class="footer" hx-trigger="load" hx-onload hx-get="/components/footer" hx-target=".footer" hx-swap="outerHTML"></div>
</body>
</html>
