<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bikin PaaS dan IaaS</title>
    <meta name="description" content="Bikin PaaS/Iaas Buat Automate Deployment Rust, Python dan Go. Tiba tiba impulsive kepikiran ide untuk membuat PaaS/IaaS.">
    <meta name="keywords" content="DevOps, DevSecOps, Software Engineering, Kubernetes, Frontend, Backend, Infrastructure">
    <meta name="author" content="Papan Berjalan">
    <link rel="canonical" href="https://papan.pages.dev" />
    <script src="/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <div class="header" hx-trigger="load" hx-onload hx-get="/components/header" hx-target=".header" hx-swap="outerHTML"></div>

    <h1>Bikin PaaS dan IaaS</h1>
    <article>

        <h2>Bikin PaaS/Iaas Buat Automate Deployment Rust, Python dan Go</h2>

        <p>Tiba tiba impulsive kepikiran ide untuk membuat PaaS/IaaS.</p>

        <iframe src="https://giphy.com/embed/KT3TNkhNexOWVsMIw8" width="300" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <p>
            <a href="https://giphy.com/gifs/buzzfeed-party-happy-new-year-years-KT3TNkhNexOWVsMIw8">via GIPHY</a>
        </p>
        
        <p>Automation Deployment Github Repository ke PaaS atau IaaS. Mirip Heroku, Vercel dan Netlify, tapi untuk <span>Python</span>, <span>Rust</span> dan <span>Go</span>.</p>
        
        <h2>Behind Story</h2>
        <blockquote>kenapa ini gue dokumentasiin?</blockquote>
        
        <p>
            Ketriger tulisan tim Govtech nya mas <a href="https://x.com/ibamarief">@ibamarief</a> gue juga coba ikut nulis hal serupa di salah satu kementrian yg load trafik nya mirip mirip dengan Govtech.
        </p>

        <p>
            Tapi karena belom dapet ACC untuk bikin tulisan, gue pake use case side project aja untuk bikin PaaS/IaaS yang kurang lebih sama untuk handle massives incomming traffict (Expected 1 Juta concurent users 200K RPS / 200K QPS Read/Write Queries)
        </p>
        
        <h3>tip Trafik</h3>
        <blockquote>
            Ya sekitar 500 Miliar Request Perhari
        </blockquote>
        
        <p>
            Di sini gue akan ngebahas gimana planning nya, pemilihan tech dan cost estimation.
        </p>
        
        <p>
            usecase di sini tidak menggunakan managed service seperti GCP/AWS yg setup load ballancing dan distribution service nya cukup mudah, 
        </p>
        
        <h3>tip Usecase</h3>
        <blockquote>
            tapi gue coba bikin versi fully from scratch VPS atau baremetal.
        </blockquote>
        
        <p>
            dan karena gue yg males nulis, akhir nya gue cicil 🤣
            (tagih aja kalo udah mulai jarang updates)
        </p>
        
        <h2>Idea</h2>
        <ol>
            <li>Source Code web app tersimpan di Github</li>
            <li>Source Code tersync dengan PaaS/IaaS</li>
            <li>Setiap ada perubahan di Github, maka PaaS/IaaS akan melakukan build dan deploy otomatis</li>
            <li>PaaS/IaaS akan memberikan informasi build dan deploy ke user</li>
            <li>PaaS/IaaS akan memberikan informasi error jika build dan deploy gagal</li>
            <li>Deployment menggunakan Container dengan Limit Resources</li>
            <li>Setiap deployment akan diberikan subdomain yang unik untuk deployment tersebut</li>
            <li>Setiap deployment akan diberikan SSL secara otomatis (Cloudflare?)</li>
            <li>Untuk Proxy dan Load Ballancer menggunakan Pingora</li>
            <li>Infrastructure orkestrasi menggunakan Kubernetes</li>
        </ol>
        
        <h2>Diagram Infrastructure</h2>
        
        <p>
            Ekspektasi trafik kemungkinan akan sangat tinggi, maka perlu menggunakan Deployment Orkestrator seperti Kubernetes dengan multiple Load Ballancer dan Multiple Nodes.
        </p>
        
        <iframe frameborder="0" style="height: 400px; width: 100%;" src="https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&edit=_blank&layers=1&nav=1&title=PaaS%2FIaaS#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1-LEL-ARMx0i2xQ_OdzyG2X75lTkBiC31%26export%3Ddownload"></iframe>
        
        <p>
            Diagram diatas menggambarkan ada Multiple Load Ballancer yang menjadi Public IP dan Nodes dengan internal IP serta Master Node terpisah.
        </p>
        
        
        <blockquote>
            <span>info Kenapa sih design nya gini?</span>
            <p>Design ini adalah design tahap awal, yang bisa berubah sesuai dengan kebutuhan dan kondisi:</p>
            <ul>
                <li>Ada 1 Master Node terpisah untu controling K8S cluster agar tidak terjadi throttle ketika high traffict dan mudah scalling nya `(ini pake ip public dulu, nanti bisa di private dan diakses via VPN)`</li>
                <li>Ada 2 Slave Node untuk Load Ballancer, Karena untuk backup bila salah satu Node tumbang masih bisa handle traffict masuk `(Never Trust your Machine always On)`</li>
                <li>Ada 4 Slave Node untuk Apps+Apps Replica dan DB+DB Replica dan backup bila salah ada nodes yang mati, serta hanya tersambung dengan private Network `(Agar supaya ga bisa diakses dari public, mere secure duh!)`</li>
            </ul>
        </blockquote>
 
        <h2>Monkey Calculation and Cost Estimation</h2>

        <p>Nah di sini coba kita hitung ya, berapa biaya yang diperlukan untuk infrastruktur ini.</p>
        
        
        <iframe src="https://giphy.com/embed/zOvBKUUEERdNm" width="300" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <p>
            <a href="https://giphy.com/gifs/coding-zOvBKUUEERdNm">via GIPHY</a>
        </p>
        
        <h2>Limitation</h2>
        
        <p>
            Server pasti memiliki keterbatasan, baik itu CPU, Memory, Storage, Network, dan Read/Write IO. Kita harus memperhitungkan hal ini. Contoh kasus saya akan mengambil spesifikasi server sebagai berikut dengan provider local / international:
        </p>
        
        <blockquote>
            ::: info VPS Provider Lokal
            Let's say, kita pake server dari provider ****** dengan usecase menggunakan VPS:
            :::
        </blockquote>
        
        <ol>
            <li>Network 1 Gbps (50% on average -> 500 Mbps)</li>
            <li>CPU 16 vCPU</li>
            <li>Memory 32 GB</li>
            <li>Storage 512 GB SSD</li>
            <li>OS Ubuntu 22.04 LTS</li>
        </ol>
        
        <blockquote>
            ::: warning Estimasi 1 VPS
            Harga VPS server perbulan adalah Rp 3.700.000
            :::
        </blockquote>
        
        <h2>Estimasi Biaya Tahap Awal</h2>
        
        <p>Dari diagram, terdapat 7 Nodes Server:</p>
        <ul>
            <li>1 Master Node</li>
            <li>6 Slave Node</li>
        </ul>
        
        <blockquote>
            ::: danger Estimasi Awal
            Berarti perkiraan biaya untuk starting point adalah Rp 3.700.000 x 7 = Rp 25.900.000 / Bulan
            :::
        </blockquote>
        
        <h2>Infrastructure Aplikasi</h2>
        
        <p>
            Aplikasi Cukup Sederhana, Masih menggunakan Monolith Architecture, dan menggunakan 4 Container:
        </p>
        
        <ul>
            <li>1 Container untuk 1 Apps</li>
            <li>1 Container untuk 1 DB </li>
            <li>1 Container untuk 1 Bucket Storage</li>
            <li>1 Container untuk 1 Cache</li>
        </ul>
        
        <iframe frameborder="0" style="height: 400px; width: 100%;" src="https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&edit=_blank&layers=1&nav=1&page-id=tsY7-0lGVVZUUPQlEOs7&title=PaaS%2FIaaS#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1-LEL-ARMx0i2xQ_OdzyG2X75lTkBiC31%26export%3Ddownload"></iframe>
        
        <p>
            Namun untuk memaksimalkan I/O atau Read/Write, kita perlu membuat replica di sisi App dan DB. Misal seperti di gambar di bawah ini:
        </p>
        
        <iframe frameborder="0" style="height: 400px; width: 100%;" src="https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&edit=_blank&layers=1&nav=1&page-id=BHM63xhQYKMuZOWPeldW&title=PaaS%2FIaaS#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1-LEL-ARMx0i2xQ_OdzyG2X75lTkBiC31%26export%3Ddownload"></iframe>
        
        <p>
            Terdapat 4 Node Replica aplikasi, 1 Write Master Dan 2 Read Replica. Serta backup DB ke Bucket.
        </p>
        
        <h2>Tech Stack</h2>
        
        <p>
            Techstack yang akan digunakan paling tidak adalah techstack yang cloud agnostick, yang bisa dijalankan di Cloud Provider, VPS atau Baremetal. Jadi, ketika kita ingin migrasi ke provider berbeda, kita tidak perlu mengubah banyak hal.
        </p>
        
        <ul>
            <li>Load Ballancer -> `NginX`/`Pingora`</li>
            <li>DNS management kita serahkan kepada `CloudFlare`</li>
            <li>Container Orkestrasi -> `Kubernetes`</li>
            <li>S3 Storage -> `MinIO`/`R2`</li>
            <li>Database -> `PostgreSQL`/`MySQL`</li>
            <li>Cache -> `Redis`/`Dragonfly`</li>
            <li>Bahasa pemrograman kita ada banyak pilihan seperti:</li>
            <ul>
                <li>`PHP` -> `Laravel`/`CodeIgniter`</li>
                <li>`Rust` -> `Actix`/`Axum`/`Loco`</li>
                <li>`Python` -> `Django`/`Flask`/`FastAPI`/`Socketify`</li>
            </ul>
        </ul>
        
        <p>
            Mari kita benchmark dahulu setiap bahasa pemrograman tersebut.
        </p>
        
        <blockquote>
            ::: warning ⏳ Tobe Continue >>
            Tulisan belom beres, capek nulisnya. Nanti dilanjutin lagi.
            :::
        </blockquote>
        

        <blockquote>
            <p>Diperbaharui pada: 2024-11-14</p>
        </blockquote>
    </article>

    <div class="footer" hx-trigger="load" hx-onload hx-get="/components/footer" hx-target=".footer" hx-swap="outerHTML"></div>
</body>
</html>