<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://papan.pages.dev/favicon.ico">
    <title>Kiriman yang Dibuat buat</title>
    <meta name="description" content="Kumpulan Kiriman yang Dibuat-buat.">
    <meta name="keywords" content="DevOps, DevSecOps, Software Engineering, Kubernetes, Frontend, Backend, Infrastructure">
    <meta name="author" content="Papan Berjalan">
    <script src="/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <div class="header" hx-trigger="load" hx-onload hx-get="/components/header" hx-target=".header" hx-swap="outerHTML"></div>

    <h1>Kumpulan Kiriman yang Dibuat-buat</h1>

    <ol>
        <li>
            <a href="/kiriman/java-korupsi">Java Korupsi</a>
        </li>
        <li>
            <a href="/kiriman/perjalanan-gajah-php">Perjalanan Gajah PHP</a>
        </li>
        <li>
            <a href="/kiriman/jalan-jalan-menggunakan-karat">Jalan Jalan Menggunakan Karat</a>
        </li>
        <li>
            <a href="/kiriman/bikin-paas-iaas">Bikin PaaS dan IaaS</a>
        </li>
        <li>
            <a href="/kiriman/banding-bandingin-alat">Banding Bandingin Alat</a>
        </li>
    </ol>

    <blockquote>
        <p>Diperbaharui pada: 2024-11-14</p>
    </blockquote>

    <div class="footer" hx-trigger="load" hx-onload hx-get="/components/footer" hx-target=".footer" hx-swap="outerHTML"></div>
</body>
</html>