<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <div class="header" hx-trigger="load" hx-onload hx-get="/components/header" hx-target=".header" hx-swap="outerHTML"></div>

    <h1>Java Korupsi</h1>
    <article>

        <h2>Memory Besar, CPU Boros, Storage Penuh, Tagihan Server Selangit</h2>

        <p>
            Java Virtual Mesing (JVM) butuh RAM yang cukup besar untuk mengumpulkan sampah ingatan.
            Begitupun ketergantungan nya yang harus diunduh bagai mengunduh jagat raya.
        </p>

        <blockquote>
            <p>Diperbaharui pada: 2024-11-14</p>
        </blockquote>
    </article>

    <div class="footer" hx-trigger="load" hx-onload hx-get="/components/footer" hx-target=".footer" hx-swap="outerHTML"></div>
</body>
</html>