<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://papan.pages.dev/favicon.ico">
    <title>Papan Berjalan - Perjalanan Gajah PHP</title>
    <meta name="description" content="Ini unik, Saya mulai belajar dan menggunakan bahasa ini sejak 2009 untuk membuat dashboard internal. Teknologi nya pun cukup sederhana, hanya menggunakan HTML, CSS, JavaScript, dan PHP. Server menggunakan Apache dan MySQL. Semua terbundling dalam 1 integrasi tools XAMPP.">
    <meta name="keywords" content="DevOps, DevSecOps, Software Engineering, Kubernetes, Frontend, Backend, Infrastructure">
    <meta name="author" content="Papan Berjalan">
    <script src="/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-light.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <script>hljs.highlightAll();</script>
</head>
<body>
    <div class="header" hx-trigger="load" hx-onload hx-get="/components/header" hx-target=".header" hx-swap="outerHTML"></div>

    <p>PART II: Habis ketemu dengan pak <a href="https://x.com/onnowpurbo">@onnowpurbo</a></p>
 
    <p>jadi bikin gue semangat buka bukaan dapur.</p>

    <p>Gue bakal share semua dapur bikin perusahaan IXP + ISP + Data Center dari 0 🥳</p>

    <p>YES GUE BAKAL SHARE SEMUA, INTERNET MURAH, CLOUD MURAH AYOOOOOO!!!! 🤯</p>

    <p>Yuk ikutin perjalanan setiap bulan selama 12 bulan kedepan dan bikin perusahaan ini Provitable Net 1 Miliar dalam 12 Bulan kedepan.</p>

    <p>Buat yang penasaran atau mau bikin hal serupa bisa subs aja, gue bakal update setiap tanggal 1 setiap bulan, dan next meet gue bakal adain di hari sabtu ini jam 8 malam.</p>

    <p>GASSS!!!! 🔥</p>

    Setiap Progress bakal ada rekamannya, jadi temen2 bisa pantengin walaupun ga bisa dateng di saat gue progress report, gazz keun!!!!!

    <ul>
        <li><a href="https://checkout.xendit.co/od/isp-ixp-dc-monthly">Subscribe Update 1 Bulan</a> </li>
        <li><a href="https://checkout.xendit.co/od/isp-ixp-dc-semester">Subscribe Update 6 Bulan</a> </li>
        <li><a href="https://checkout.xendit.co/od/isp-ixp-dc-yearly">Subscribe Update 12 Bulan</a></li>
    </ul>

    <div class="footer" hx-trigger="load" hx-onload hx-get="/components/footer" hx-target=".footer" hx-swap="outerHTML"></div>
</body>