menu {
    padding-left: 0px;
    ul {
        padding-left: 0px;
        display: flex;
        gap: 10px;
        li {
            list-style-type: none;
        }
    }
}

blockquote {
    margin: 0px;
    background: blanchedalmond;
    p {
        padding: 1rem;
    }
}

span {
    color: darkred;
}