<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papan Berjalan</title>
    <script src="/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <div class="header" hx-trigger="load" hx-onload hx-get="/components/header" hx-target=".header" hx-swap="outerHTML"></div>

    <h1>Yap Yap, <span>Papan Berjalan</span></h1>

    <h2>Ngomong Asbun Infrastuctur Server</h2>

    <blockquote>
        <p>Ahlinya Ahli Bikin Aplikasi <strong>Lambat, Spek Raksasa, Biaya Ga Ngotak</strong>.</p>
    </blockquote>

    <p>
        Sebuah karya sastra pandangan pujangga terhadap teknologi.
    </p>

    <div class="footer" hx-trigger="load" hx-onload hx-get="/components/footer" hx-target=".footer" hx-swap="outerHTML"></div>
</body>
</html>