<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papan Berjalan - Kamus Yap Yap</title>
    <script src="/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header" hx-trigger="load" hx-onload hx-get="/components/header" hx-target=".header" hx-swap="outerHTML"></div>

    <h1>Kamus Yap Yap</h1>

    <table>
        <tr>
            <th>Arti</th>
            <th>Kata</th>
        </tr>
        <tr>
            <td>Artificial intelligence</td>
            <td>Kecerdasan yang dibuat buat</td>
        </tr>
        <tr>
            <td>Memory</td>
            <td>Ingatan</td>
        </tr>
        <tr>
            <td>Resource</td>
            <td>Sumberdaya</td>
        </tr>
    </table>

    <blockquote>
        <p>Diperbaharui pada: 2024-11-14</p>
    </blockquote>

    <div class="footer" hx-trigger="load" hx-onload hx-get="/components/footer" hx-target=".footer" hx-swap="outerHTML"></div>
</body>
</html>