<header>
    <menu>
        <ul>
            <li>
                <a hx-get="/" hx-target="body" hx-swap="innerHtml" hx-push-url="true" href="/">Beranda</a>
            </li>
            <li>
                <a hx-get="/kiriman" hx-target="body" hx-swap="innerHtml" hx-push-url="true" href="/kiriman">Kiriman</a>
            </li>
            <li>
                <a hx-get="/penafian" hx-target="body" hx-swap="innerHtml" hx-push-url="true" href="/penafian">Penafian</a>
            </li>
        </ul>
    </menu>
</header>
<hr>